﻿@{
    ViewData["Title"] = "Login";
}
<form asp-controller="Login" asp-action="Logar" method="post" class="w-50 p-5 mx-auto mt-5 shadow rounded d-flex flex-column align-items-center gap-3 ">
    <h2>Bem Vindo</h2>
    <div class="w-100">
        <label>Email</label>
        <input type="email" name="email" required class="form-control" value="wandinha@gmail.com" />
    </div>

    <div class="w-100">
        <label>Senha</label>
        <input type="password" name="senha" required class="form-control" value="admin123" />
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
</form>

@if (TempData["Mensagem"] != null)
{
    <p class="text-center mt-3 text-danger" style="color:red">@TempData["Mensagem"]</p>
}